AI_Project_Planning_Agent.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -1920,
        -112
      ],
      "id": "19dcb681-a7a1-4ac4-9efe-f0a33bdf9ea6",
      "name": "When chat message received",
      "webhookId": "433224f1-3ed5-48be-801f-2b383ed36ed9"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1QbynFyUD_5mr5GnbLFx_FsKE3mmJvn0mVqaXnvw_Eq0",
          "mode": "list",
          "cachedResultName": "Aaditya_AI task tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QbynFyUD_5mr5GnbLFx_FsKE3mmJvn0mVqaXnvw_Eq0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 96729737,
          "mode": "list",
          "cachedResultName": "Team Members",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QbynFyUD_5mr5GnbLFx_FsKE3mmJvn0mVqaXnvw_Eq0/edit#gid=96729737"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1728,
        -112
      ],
      "id": "386e53be-6d96-4b98-98bf-f0444748ba14",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FQwh3lAzQ0w3iRC2",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1296,
        128
      ],
      "id": "4ce3cc3b-d8f9-4014-93ee-4289af3e7ffa",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "zLG8Negb2TcFNMg5",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"milestones\": [\n    {\n      \"Project_id\": \"KIS-001\",\n      \"Project_name\": \"Kisaniyat\",\n      \"Milestones\": \"Market research and farmer needs analysis\",\n      \"Description\": \"Survey target farmers to identify which government schemes they struggle to access and why. Done when a prioritized list of scheme categories and pain points is documented.\",\n      \"Owner\": \"Yash Patel\",\n      \"Start_date\": \"2026-06-20\",\n      \"End_date\": \"2026-07-04\",\n      \"Status\": \"Not Started\",\n      \"Priority\": \"High\",\n      \"Progress_percentage\": 0,\n      \"Created_at\": \"2026-06-18T19:11:45.055+05:30\",\n      \"Updated_at\": \"2026-06-18T19:11:45.055+05:30\"\n    },\n{\n      \"Project_id\": \"KIS-001\",\n      \"Project_name\": \"Kisaniyat\",\n      \"Milestones\": \"Content strategy for scheme awareness\",\n      \"Description\": \"Define the messaging, channels, and content calendar for educating farmers about relevant schemes. Done when an approved content plan covering blogs and social media exists.\",\n      \"Owner\": \"Devansh Jain\",\n      \"Start_date\": \"2026-07-05\",\n      \"End_date\": \"2026-07-20\",\n      \"Status\": \"Not Started\",\n      \"Priority\": \"Medium\",\n      \"Progress_percentage\": 0,\n      \"Created_at\": \"2026-06-18T19:11:45.055+05:30\",\n      \"Updated_at\": \"2026-06-18T19:11:45.055+05:30\"\n    }\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -1152,
        128
      ],
      "id": "4c9f7748-143a-4650-a21d-3e6cc256ac4d",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a Project Planning Agent. Your job is to break a project request into a clear, ordered set of milestones and return them as structured data that maps exactly to a task-tracking spreadsheet.\n\n## INPUTS\nYou receive:\n1. A project request from chat describing what needs to be planned (goal, scope, any constraints, deadlines). : {{ $('When chat message received').item.json.chatInput }}\n\n3. CURRENT_TIMESTAMP: {{ $now }}\n4. AVAILABLE_EMPLOYEES (assign owners ONLY from this list):\n{{ JSON.stringify($data, null, 2) }}\n\n   Each employee has: Employee_ID, Employee_Name, Email, Role, Department, Manager, Location.                                                    ## YOUR TASK\n- Decompose the project into 4–10 logical, sequential milestones. Each milestone is a meaningful phase or deliverable, not a tiny sub-task.\n- Order them so dependencies make sense (a milestone's start should follow the end of what it depends on).\n- Assign a realistic timeline. Build a sensible schedule starting from today (CURRENT_TIMESTAMP) unless the request specifies a start date. Milestones may overlap if they can run in parallel.\n- Assign exactly one Owner per milestone, chosen from AVAILABLE_EMPLOYEES. Match the owner to the milestone based on their Role and Department (e.g. design work → a designer, backend work → an engineer). Use the exact Employee_Name string from the list.\n- Write a concise 1–2 sentence Description for each milestone explaining what \"done\" looks like.\n\n## FIELD RULES\n- Project_id: use PROJECT_ID for every row.\n- Project_name: use PROJECT_NAME for every row.\n- Milestones: a short title (3–8 words).\n- Description: 1–2 sentences, outcome-focused.\n- Owner: must exactly match an Employee_Name from AVAILABLE_EMPLOYEES. Never invent a name.\n- Start_date / End_date: ISO 8601 date format (YYYY-MM-DD). End_date must be on or after Start_date.\n- Status: always \"Not Started\" for newly planned milestones.\n- Priority: one of \"Low\", \"Medium\", \"High\", \"Critical\" based on impact and urgency.\n- Progress_percentage: always 0 for new milestones.\n- Created_at / Updated_at: set both to CURRENT_TIMESTAMP (ISO 8601).\n\n## CONSTRAINTS\n- Do not assign an owner who is not in AVAILABLE_EMPLOYEES.\n- Do not add commentary, explanations, or markdown. Return only the structured object defined by the output schema.\n- Every milestone object must contain all fields, with no nulls.",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1296,
        -112
      ],
      "id": "bf678bb4-0a51-409b-b08e-428dcd3e843c",
      "name": "Planer Agent"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.milestones",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -976,
        -112
      ],
      "id": "4cea31e5-4d6c-4ca8-b3da-90c1791f6c44",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1QbynFyUD_5mr5GnbLFx_FsKE3mmJvn0mVqaXnvw_Eq0",
          "mode": "list",
          "cachedResultName": "Aaditya_AI task tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QbynFyUD_5mr5GnbLFx_FsKE3mmJvn0mVqaXnvw_Eq0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Project Plan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QbynFyUD_5mr5GnbLFx_FsKE3mmJvn0mVqaXnvw_Eq0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Project_id": "={{ $json.Project_id }}",
            "Milestones": "={{ $json.Milestones }}",
            "Project_name": "={{ $json.Project_name }}",
            "Description": "={{ $json.Description }}",
            "Owner": "={{ $json.Owner }}",
            "Start_date": "={{ $json.Start_date }}",
            "End_date": "={{ $json.End_date }}",
            "Status": "={{ $json.Status }}",
            "Priority": "={{ $json.Priority }}",
            "Progress_percentage": "={{ $json.Progress_percentage }}",
            "Created_at": "={{ $json.Created_at }}",
            "Updated_at": "={{ $json.Updated_at }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Project_id",
              "displayName": "Project_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Project_name",
              "displayName": "Project_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Milestones",
              "displayName": "Milestones",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Owner",
              "displayName": "Owner",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Start_date",
              "displayName": "Start_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "End_date",
              "displayName": "End_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Progress_percentage",
              "displayName": "Progress_percentage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Created_at",
              "displayName": "Created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Updated_at",
              "displayName": "Updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -752,
        -112
      ],
      "id": "93d5b945-24dd-4d71-857b-d7960dc9c1ce",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FQwh3lAzQ0w3iRC2",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1536,
        -112
      ],
      "id": "3abd477d-f2d5-46ae-b7de-e521b44df546",
      "name": "Employees"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -496,
        128
      ],
      "id": "824c5582-b393-4b3f-b4bf-65fbe08d2ccf",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "zLG8Negb2TcFNMg5",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"tasks\": [\n    {\n      \"task_id\": \"KIS-001-RES-T01\",\n      \"project_id\": \"KIS-001\",\n      \"task_name\": \"Draft farmer survey questionnaire\",\n      \"description\": \"Write a 12-15 question survey covering scheme awareness and access barriers. Done when the questionnaire is reviewed and approved.\",\n      \"assigned_to\": \"Yash Patel\",\n      \"department\": \"Marketing\",\n      \"priority\": \"High\",\n      \"dependency_task_id\": \"\",\n      \"start_date\": \"2026-06-20\",\n      \"end_date\": \"2026-06-23\",\n      \"status\": \"Not Started\",\n      \"progress\": 0,\n      \"estimated_hours\": 8,\n      \"risk_level\": \"Low\",\n      \"next_action\": \"Outline the survey sections and key questions.\",\n      \"reminder_sent\": false,\n      \"created_at\": \"2026-06-18T19:11:45.055+05:30\",\n      \"updated_at\": \"2026-06-18T19:11:45.055+05:30\"\n},\n    \n{\n      \"task_id\": \"KIS-001-RES-T02\",\n      \"project_id\": \"KIS-001\",\n      \"task_name\": \"Conduct farmer interviews\",\n      \"description\": \"Run the approved survey with at least 30 target farmers across regions. Done when responses are collected and logged.\",\n      \"assigned_to\": \"Kavya Rao\",\n      \"department\": \"Marketing\",\n      \"priority\": \"High\",\n      \"dependency_task_id\": \"KIS-001-RES-T01\",\n      \"start_date\": \"2026-06-24\",\n      \"end_date\": \"2026-07-01\",\n      \"status\": \"Not Started\",\n      \"progress\": 0,\n      \"estimated_hours\": 24,\n      \"risk_level\": \"Medium\",\n      \"next_action\": \"Identify and contact the first batch of farmers.\",\n      \"reminder_sent\": false,\n      \"created_at\": \"2026-06-18T19:11:45.055+05:30\",\n      \"updated_at\": \"2026-06-18T19:11:45.055+05:30\"\n    }\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -336,
        128
      ],
      "id": "4f2d8c3b-3cdd-4ffe-9fe6-b710f2113340",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.tasks",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -112,
        -112
      ],
      "id": "f0ab84b8-e444-4994-918d-11818ce417ce",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1QbynFyUD_5mr5GnbLFx_FsKE3mmJvn0mVqaXnvw_Eq0",
          "mode": "list",
          "cachedResultName": "Aaditya_AI task tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QbynFyUD_5mr5GnbLFx_FsKE3mmJvn0mVqaXnvw_Eq0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1943702230,
          "mode": "list",
          "cachedResultName": "Tasks Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QbynFyUD_5mr5GnbLFx_FsKE3mmJvn0mVqaXnvw_Eq0/edit#gid=1943702230"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "task_id": "={{ $json.task_id }}",
            "project_id": "={{ $json.project_id }}",
            "task_name": "={{ $json.task_name }}",
            "description": "={{ $json.description }}",
            "assigned_to": "={{ $json.assigned_to }}",
            "department": "={{ $json.department }}",
            "priority": "={{ $json.priority }}",
            "dependency_task_id": "={{ $json.dependency_task_id }}",
            "start_date": "={{ $json.start_date }}",
            "end_date": "={{ $json.end_date }}",
            "status": "={{ $json.status }}",
            "progress": "={{ $json.progress }}",
            "estimated_hours": "={{ $json.estimated_hours }}",
            "risk_level": "={{ $json.risk_level }}",
            "next_action": "={{ $json.next_action }}",
            "created_at": "={{ $json.created_at }}",
            "reminder_sent": "={{ $json.reminder_sent }}",
            "updated_at": "={{ $json.updated_at }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "task_id",
              "displayName": "task_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "project_id",
              "displayName": "project_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "task_name",
              "displayName": "task_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "assigned_to",
              "displayName": "assigned_to",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "department",
              "displayName": "department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "priority",
              "displayName": "priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "dependency_task_id",
              "displayName": "dependency_task_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "start_date",
              "displayName": "start_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "end_date",
              "displayName": "end_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "progress",
              "displayName": "progress",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "estimated_hours",
              "displayName": "estimated_hours",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "risk_level",
              "displayName": "risk_level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "next_action",
              "displayName": "next_action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reminder_sent",
              "displayName": "reminder_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        320,
        -208
      ],
      "id": "e57c4554-0fcb-437e-b01d-97f151eff99f",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FQwh3lAzQ0w3iRC2",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1QbynFyUD_5mr5GnbLFx_FsKE3mmJvn0mVqaXnvw_Eq0",
          "mode": "list",
          "cachedResultName": "Aaditya_AI task tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QbynFyUD_5mr5GnbLFx_FsKE3mmJvn0mVqaXnvw_Eq0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1191686306,
          "mode": "list",
          "cachedResultName": "Task Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QbynFyUD_5mr5GnbLFx_FsKE3mmJvn0mVqaXnvw_Eq0/edit#gid=1191686306"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "project_id": "={{ $json.task_id }}",
            "task_name": "={{ $json.task_name }}",
            "task_id": "={{ $json.project_id }}",
            "start_date": "={{ $json.start_date }}",
            "progress": "={{ $json.progress }}",
            "end_date": "={{ $json.end_date }}",
            "dependency": "={{ $json.dependency_task_id }}",
            "assigned_to": "={{ $json.assigned_to }}",
            "status": "={{ $json.status }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "project_id",
              "displayName": "project_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "task_id",
              "displayName": "task_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "task_name",
              "displayName": "task_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "start_date",
              "displayName": "start_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "end_date",
              "displayName": "end_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "progress",
              "displayName": "progress",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "dependency",
              "displayName": "dependency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "assigned_to",
              "displayName": "assigned_to",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        304,
        64
      ],
      "id": "83926a45-d1ee-463f-bd1b-fff75c2802b6",
      "name": "Append row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FQwh3lAzQ0w3iRC2",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\nYou are a Task Generation Agent. Given a single project milestone, you break it into concrete, actionable tasks and return them as structured data that maps exactly to a task-tracking spreadsheet.\n\n## INPUTS\nYou receive one milestone to decompose:\nPROJECT_ID: {{ $('Split Out').item.json.Project_id }}\nMILESTONE_NAME: {{ $('Split Out').item.json.Milestones }}\nMILESTONE_DESCRIPTION: {{ $('Split Out').item.json.Description }}\nMILESTONE_OWNER:{{ $('Split Out').item.json.Owner }}\nMILESTONE_PRIORITY: {{ $('Split Out').item.json.Priority }}\nMILESTONE_START: {{ $('Split Out').item.json.Start_date }}\nMILESTONE_END: {{ $('Split Out').item.json.End_date }}\nCURRENT_TIMESTAMP: {{ $now }}\n- AVAILABLE_EMPLOYEES (assign tasks ONLY to people from this list):\n{{ JSON.stringify($('Employees').first().json.data, null, 2) }}\n  Each employee has: Employee_ID, Employee_Name, Email, Role, Department, Manager, Location.\n\n## YOUR TASK\n- Break this milestone into 3–8 concrete tasks. Each task is a single piece of work someone can pick up and complete, not a vague theme.\n- Order tasks logically. Where one task must finish before another can start, record that with dependency_task_id.\n- Keep every task's dates inside the milestone window (between MILESTONE_START and MILESTONE_END). Sequence dependent tasks so a task starts on or after its dependency ends.\n- Assign each task to the most suitable person from AVAILABLE_EMPLOYEES, matching their Role and Department to the work. The MILESTONE_OWNER is the default lead, but delegate to others where their role fits better.\n\n## FIELD RULES\n- task_id: generate a unique id using the pattern {PROJECT_ID}-{milestone-slug}-T{NN}, where milestone-slug is a 3-5 letter abbreviation of the milestone and NN is a zero-padded sequence (T01, T02...). IDs must be unique within this milestone.\n- project_id: use PROJECT_ID for every task.\n- task_name: short title (3–8 words).\n- description: 1–2 sentences describing the work and what \"done\" means.\n- assigned_to: must exactly match an Employee_Name from AVAILABLE_EMPLOYEES. Never invent a name.\n- department: the Department of the assigned person, taken from AVAILABLE_EMPLOYEES.\n- priority: one of \"Low\", \"Medium\", \"High\", \"Critical\".\n- dependency_task_id: the task_id of the task that must finish first. Use an empty string \"\" if the task has no dependency.\n- start_date / end_date: ISO 8601 date (YYYY-MM-DD), within the milestone window. end_date on or after start_date.\n- status: always \"Not Started\" for newly generated tasks.\n- progress: always 0 for new tasks.\n- estimated_hours: a realistic whole or half number of hours to complete the task.\n- risk_level: one of \"Low\", \"Medium\", \"High\", reflecting likelihood of delay or difficulty.\n- next_action: one short sentence stating the immediate first step to start the task.\n- reminder_sent: always false for new tasks.\n- created_at / updated_at: set both to CURRENT_TIMESTAMP (ISO 8601).\n\n## CONSTRAINTS\n- Assign only people present in AVAILABLE_EMPLOYEES; department must match that person's record.\n- Every task object must contain all fields, with no nulls (use \"\" for dependency_task_id when none).\n- Return only the structured object defined by the output schema. No commentary, no markdown.\n\n \n \n \t\nYou are a Task Generation Agent. Given a single project milestone, you break it into concrete, actionable tasks and return them as structured data that maps exactly to a task-tracking spreadsheet.\n\n## INPUTS\nYou receive one milestone to decompose:\nPROJECT_ID:{{ $('Split Out').item.json.Project_id }}\nMILESTONE_NAME: {{ $('Split Out').item.json.Milestones }}\nMILESTONE_DESCRIPTION: {{ $('Split Out').item.json.Description }}\nMILESTONE_OWNER:{{ $('Split Out').item.json.Owner }}\nMILESTONE_PRIORITY: {{ $('Split Out').item.json.Priority }}\nMILESTONE_START: {{ $('Split Out').item.json.Start_date }}\nMILESTONE_END: {{ $('Split Out').item.json.End_date }}\nCURRENT_TIMESTAMP: {{ $now }}\n- AVAILABLE_EMPLOYEES (assign tasks ONLY to people from this list):\n{{ JSON.stringify($('Employees').first().json.data, null, 2) }}\n  Each employee has: Employee_ID, Employee_Name, Email, Role, Department, Manager, Location.\n\n## YOUR TASK\n- Break this milestone into 3–8 concrete tasks. Each task is a single piece of work someone can pick up and complete, not a vague theme.\n- Order tasks logically. Where one task must finish before another can start, record that with dependency_task_id.\n- Keep every task's dates inside the milestone window (between MILESTONE_START and MILESTONE_END). Sequence dependent tasks so a task starts on or after its dependency ends.\n- Assign each task to the most suitable person from AVAILABLE_EMPLOYEES, matching their Role and Department to the work. The MILESTONE_OWNER is the default lead, but delegate to others where their role fits better.\n\n## FIELD RULES\n- task_id: generate a unique id using the pattern {PROJECT_ID}-{milestone-slug}-T{NN}, where milestone-slug is a 3-5 letter abbreviation of the milestone and NN is a zero-padded sequence (T01, T02...). IDs must be unique within this milestone.\n- project_id: use PROJECT_ID for every task.\n- task_name: short title (3–8 words).\n- description: 1–2 sentences describing the work and what \"done\" means.\n- assigned_to: must exactly match an Employee_Name from AVAILABLE_EMPLOYEES. Never invent a name.\n- department: the Department of the assigned person, taken from AVAILABLE_EMPLOYEES.\n- priority: one of \"Low\", \"Medium\", \"High\", \"Critical\".\n- dependency_task_id: the task_id of the task that must finish first. Use an empty string \"\" if the task has no dependency.\n- start_date / end_date: ISO 8601 date (YYYY-MM-DD), within the milestone window. end_date on or after start_date.\n- status: always \"Not Started\" for newly generated tasks.\n- progress: always 0 for new tasks.\n- estimated_hours: a realistic whole or half number of hours to complete the task.\n- risk_level: one of \"Low\", \"Medium\", \"High\", reflecting likelihood of delay or difficulty.\n- next_action: one short sentence stating the immediate first step to start the task.\n- reminder_sent: always false for new tasks.\n- created_at / updated_at: set both to CURRENT_TIMESTAMP (ISO 8601).\n\n## CONSTRAINTS\n- Assign only people present in AVAILABLE_EMPLOYEES; department must match that person's record.\n- Every task object must contain all fields, with no nulls (use \"\" for dependency_task_id when none).\n- Return only the structured object defined by the output schema. No commentary, no markdown.\n\nTurn on screen reader support\nTo enable screen reader support, press Ctrl+Alt+Z To learn about keyboard shortcuts, press Ctrl+slashBanner hiddenAnonymous Chinchilla has joined the document.",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -480,
        -112
      ],
      "id": "521076ed-b596-41a7-9e13-2a43d52d6d3d",
      "name": "Task Agent"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Employees",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Planer Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Planer Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Planer Agent": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Task Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Employees": {
      "main": [
        [
          {
            "node": "Planer Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Task Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Task Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Task Agent": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "2208e12f-26b5-40b1-a33e-97ee77a0b077",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d16445d58ba1637140e691d38bb3c2fd4b7cd28db9c183ad8652eb8c403f3c10"
  },
  "nodeGroups": [],
  "id": "xpcaMLaSJOAuIwWx",
  "tags": []
}
